body {
    background: #000000;
    font-family: "Andale Mono", "Courier New", "Helvetica Neue", "Helvetica", "Arial";
    font-size: 10pt;
    color: #FFFFFF;
    font-weight: 300;
    text-align: center;
}
a, a:link, a:active, a:visited {
    text-transform: uppercase;
    text-decoration: none;
    color: #CCCCCC;
    font-size: 8pt;
    letter-spacing: -1px;
    target-name: new;
    target-new: tab;
}
a:hover {
    color: #FFFFFF;
}
a.tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #666666;
}
a.tip span {
  visibility: hidden;
  width: 90px;
  background-color: rgb(0, 0, 0, 0.8);
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
a.tip span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}
a.tip:hover span {
  visibility: visible;
  opacity: 1;
}
#title {
    position: fixed;
    top: 30px;
    width: 100%;
    z-index: 50;
}
#header {
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
	width: 100%;
	height: 100%;
    margin: 0px;
	background: #000000;
	text-align: center;
}
#footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    z-index: 60;
}
#footer a { display: inline-block; width: 30px; height: 30px; text-align: center; vertical-align: top; margin: 0px 3px; position: relative; transition: opacity 300ms; }
#footer a:hover { opacity: 0.6; }
.logo {
    position: fixed;
    bottom: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#left {
    float: left;
    right: 50%;
}
#right {
    float: right;
    left: 50%;
}
#left, #right {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#main {
    position: absolute;
    top: 170%;
    text-align: center;
}
#music, #dates, #links, #hide {
    width: 28%;
    text-align: center;
    vertical-align: middle;
}
#music, #dates {margin-bottom: 100px;}
#links, #hide {margin-bottom: 0px !important;}
#hide {
    height: 0px;
}
h1 {
    font-size: 20pt;
    color: #666666;
    font-weight: 300;
}
html, body{ height:100%; }
b {
    font-size: 15pt;
}

#expand, #retract {opacity: 0.4;}

.secret {display: block; position: fixed; background: #222222; z-index: 200; width: 20px; height: 20px; color: #000000; border-radius: 20px; opacity: 0; transition: opacity 1s, background 0.5s;}
.secretfade {opacity: 1;}
.secret:hover {background: none; cursor: pointer;}
.playa {position: fixed;}
.hiddenX {position: fixed !important; margin: 0px; width: 40px; height: 0px; background: #000000; font-family: Courier New; padding: 14px 0px 26px 0px; text-align: center; border-radius: 25px; vertical-align: middle;}
.hiddenX span {font-family: Andale Mono, Courier New; font-size: 7pt;}
